// -color-white, -bg-white, ...
@each $colorName, $color in $appColors
    // Margin
    .-color-#{$colorName}
        color: $color
        a
            color: $color
    .-bg-#{$colorName}
        background-color: $color