// =============================================================================
// Responsive
// =============================================================================
=responsive($name: 'tablet')
    @media (min-width: #{inspect(map-get($breakpointsFrom, $name))}) and (max-width: #{inspect(map-get($breakpoints, $name))})
        @content

// -hide, -hide-on-mobile, -hide-on-desktop, ...
.-hide
    display: none
.-hide-on-responsive
    +responsive()
        display: none !important
    +responsive(tablet)
        display: none !important
.-hide-on-mobile
    +responsive()
        display: none !important
.-hide-on-desktop
    +responsive(desktop)
        display: none !important