// margin, padding, margin negativ
@each $level, $size in $levels
    // Margin
    .-margin-#{$level}
        margin:                                 ($base_spacing_height * $size) ($base_spacing_width * $size) !important
    .-margin-left-#{$level}
        margin-left:                            ($base_spacing_width * $size) !important
    .-margin-right-#{$level}
        margin-right:                           ($base_spacing_width * $size) !important
    .-margin-top-#{$level}
        margin-top:                             ($base_spacing_height * $size) !important
    .-margin-bottom-#{$level}
        margin-bottom:                          ($base_spacing_height * $size) !important
    // Padding
    .-padding-#{$level}
        padding:                                ($base_spacing_height * $size) ($base_spacing_width * $size) !important
    .-padding-left-#{$level}
        padding-left:                           ($base_spacing_width * $size) !important
    .-padding-right-#{$level}
        padding-right:                          ($base_spacing_width * $size) !important
    .-padding-top-#{$level}
        padding-top:                            ($base_spacing_height * $size) !important
    .-padding-bottom-#{$level}
        padding-bottom:                         ($base_spacing_height * $size) !important
    // Negativ Margin
    .-margin-#{$level}-negativ
        margin:                                 ($base_spacing_height * $size * -1) ($base_spacing_width * $size * -1) !important
    .-margin-left-#{$level}-negativ
        margin-left:                            ($base_spacing_width * $size * -1) !important
    .-margin-right-#{$level}-negativ
        margin-right:                           ($base_spacing_width * $size * -1) !important
    .-margin-top-#{$level}-negativ
        margin-top:                             ($base_spacing_height * $size * -1) !important
    .-margin-bottom-#{$level}-negativ
        margin-bottom:                          ($base_spacing_height * $size * -1) !important

// Mixins
// =============================================================================
// Padding
// =============================================================================
=padding($level, $top: 1, $right: 1, $bottom: 1, $left: 1)
    $size:      map-get($levels, $level)
    padding:    ($base_spacing_height * $size * $top) ($base_spacing_width * $size * $right) ($base_spacing_height * $size * $bottom) ($base_spacing_width * $size * $left)
// =============================================================================
// Margin
// =============================================================================
=margin($level, $top: 1, $right: 1, $bottom: 1, $left: 1)
    $size:      map-get($levels, $level)
    margin:     ($base_spacing_height * $size * $top) ($base_spacing_width * $size * $right) ($base_spacing_height * $size * $bottom) ($base_spacing_width * $size * $left)