// Levels
// @import "modifier"

=tiles
    display: -webkit-flex
    display: -ms-flexbox
    display: flex
    flex-wrap: wrap
    align-items: flex-start
    align-content: flex-start
    margin: 0 auto
    height: auto
    width: 100%
    clear: both
    list-style-type: none


.tiles
    &.-nowrap
        flex-wrap: nowrap
    // Align Items (Vertical)
    &.-top
        align-items: flex-start
        ._tile
            align-self: auto
    &.-middle
        align-items: center
        ._tile
            align-self: auto
    &.-bottom
        align-items: flex-end
        ._tile
            align-self: auto
    &.-stretch
        align-items: stretch
        ._tile
            align-self: auto
    // Justify content (Horizontal)
    &.-start
        justify-content: flex-start
    &.-center
        justify-content: center
    &.-end
        justify-content: flex-end
    &.-space-around
        justify-content: space-around
    &.-space-evenly
        justify-content: space-evenly
    &.-space-between
        justify-content: space-between
    // Flex Direction
    &.-column
        flex-direction: column

.tiles
    +tiles()
    &.-container
        width: $width
        +responsive()
            width: 100%
    ._tile
        align-self: flex-start
        position: relative
        border-radius: 1px
        width: fit-content
        margin: unset
        // line-height: initial
        // overflow: hidden
        // padding: 0
        // Alignment
        &.-center
            align-self: center
        &.-bottom
            align-self: flex-end
        &.-right
            margin-left: auto
            margin-right: initial
        &.-stretch
            align-self: stretch
        // Sizing
        &.-flex
            flex-grow: 1
        &._0_0
            // important:
            flex-basis: content
            width: auto
            max-width: auto
        &._1_1,
        &._2_2,
        &._3_3,
        &._4_4
            flex-basis: 100%
            max-width: 100%
        &._1_2,
        &._2_4
            flex-basis: 50%
            max-width: 50%
        &._1_3
            flex-basis: 33.33%
            max-width: 33.33%
        &._2_3
            flex-basis: 66.66%
            max-width: 66.66%
        &._1_4
            flex-basis: 25%
            max-width: 25%
        &._3_4
            flex-basis: 75%
            max-width: 75%
        &._1_5
            flex-basis: 20%
            max-width: 20%
        &._2_5
            flex-basis: 40%
            max-width: 40%
        &._3_5
            flex-basis: 60%
            max-width: 60%
        &._4_5
            flex-basis: 80%
            max-width: 80%
        &._1_6
            flex-basis: 16.66%
            max-width: 16.66%
        &._1_7
            flex-basis: 14.286%
            max-width: 14.286%
        &._1_8
            flex-basis: 12.5%
            max-width: 12.5%
        &._1_9
            flex-basis: 11.11%
            max-width: 11.11%
        &._1_10
            flex-basis: 10%
            max-width: 10%
        &._1_12
            flex-basis: 8.33%
            max-width: 8.33%
        &._5_12
            flex-basis: 41.66%
            max-width: 41.66%
        &._10_12
            flex-basis: 83.33%
            max-width: 83.33%
        &.-resp
            +responsive()
                flex-basis: 100% !important
                max-width: 100% !important
            flex-wrap: wrap
        &._1_2_resp
            +responsive()
                flex-basis: 50%
                max-width: 50%
